<section id="why-choose-us" class="scrollto clearfix text-center">
  <div class="row clearfix">

    <div class="col-1">
      <div class="section-heading">
        <h2 class="section-title">Why Choose Us</h2>
        <p class="section-subtitle">
          Learn French with a teaching approach that is supportive, structured, and designed for learners of all ages.
        </p>
      </div>
    </div>

    <div class="col-4 icon-block icon-top wow fadeInUp choose-card" data-wow-delay="0.1s">
      <div class="icon">
        <i class="fa fa-user fa-2x"></i>
      </div>
      <div class="icon-block-description">
        <h4>Personalised Learning</h4>
        <p>
          Our online French classes go beyond generic lessons and one-size-fits-all teaching. 
          From the very first session, we design your learning journey around you—your level, your goals, and your interests. 
          Whether you’re learning French for travel, work, exams, or everyday conversation, every lesson is tailored to fit your needs.
        </p>
      </div>
    </div>

    <div class="col-4 icon-block icon-top wow fadeInUp choose-card" data-wow-delay="0.2s">
      <div class="icon">
        <i class="fa fa-comments fa-2x"></i>
      </div>
      <div class="icon-block-description">
        <h4>Where Structure Meets Flexibility</h4>
        <p>
          What truly sets us apart is our balance of structure and flexibility. 
          You follow a clear, step-by-step learning path, while progressing at your own pace. 
          Each lesson is thoughtfully designed with interactive games, engaging quizzes, speaking challenges, and audio activities—helping 
          you stay motivated while strengthening the areas you find most challenging.
        </p>
      </div>
    </div>

    <div class="col-4 icon-block icon-top wow fadeInUp choose-card" data-wow-delay="0.3s">
      <div class="icon">
        <i class="fa fa-heart fa-2x"></i>
      </div>
      <div class="icon-block-description">
        <h4>Supportive Teaching Style</h4>
        <p>
         We believe that mistakes are an essential part of learning. That’s why we create a warm, encouraging environment where you feel comfortable to try, learn, and grow. 
         You don’t just attend a French class—you step into a personalised learning journey that builds your confidence and evolves with you.
        </p>
      </div>
    </div>

  </div>
</section>