 <!--Introduction-->
        <section id="about" class="introduction scrollto text-center clearfix">

            <div class="row clearfix">

        <div class="col-1">
            <div class="section-heading">
                <h2 class="section-title">About the Teacher</h2>
                <div class="introduction">
                    <img src="../assets/images/user-images/user-4.jpeg" alt="User" />


                    <p class="section-subtitle">"Bonjour, I am Kanksha Bhuta, a certified C1 French tutor.
                        Being passionate about travel and learning new languages, my journey with the French language
                        began in school and
                        still continues even today as I am a strong believer of the phrase ‘learning never stops’.
                        While pursuing my passion for tourism, what started as a hobby of teaching French, soon turned
                        into a passionate
                        career choice. Having tutored school and college students and having taught the primary section
                        in an international
                        school in Singapore, I have experience of teaching kids as well as adults of different age
                        groups over the last 10
                        years.
                        I am passionate about teaching and believe that mistakes should be made in order to learn and
                        progress. I provide my
                        students with a safe space to learn and express themselves in the French language.
                        I can speak 5 languages and take the opportunity to learn a new language whenever I can. Apart
                        from teaching, my
                        interests are reading, travelling, music and cooking. "</p>
                </div>
            </div>

                </div>

            </div>


        </section>
        <!--End of Introduction-->