<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">


        <!--Banner Content-->
        <div id="banner-content" class="row clearfix">

            <div class="col-38">

                <div class="section-heading">
                    <h1>Give Yourself a Global Advantage with French</h1>
                    <h2>Personalised French learning for kids/Adults in the UAE/India.
                            Fun, structured, and result-oriented classes led by an experienced teacher.</h2>
                </div>

                <!--Call to Action-->
                <a href="https://wa.me/971502166824" class="button" target="_blank"> <i class="fa fa-whatsapp"></i>CHAT ON WHATSAPP</a>
                <!--End Call to Action-->

            </div>

        </div><!--End of Row-->
    </header>
