 <div id="header" class="nav-collapse">
            <div class="row clearfix">
                <div class="col-1">

                    <!--Logo-->
                    <div id="logo">

                        <!--Logo that is shown on the banner-->
                        <img src="../assets/images/Untitled design (2).png" id="banner-logo" alt="Landing Page"/>
                        <!--End of Banner Logo-->

                        <!--The Logo that is shown on the sticky Navigation Bar-->
                        <img src="../assets/images/Untitled design (2).png" id="navigation-logo" alt="Landing Page"/>
                        <!--End of Navigation Logo-->

                    </div>
                    <!--End of Logo-->

                    <!-- <aside> -->

                        <!--Social Icons in Header-->
                       <!--  <ul class="social-icons">
                            <li>
                            <a target="_blank" title="WhatsApp" href="https://wa.me/971XXXXXXXXX">
                                <i class="fa fa-whatsapp fa-2x" style="color: white"></i>
                             
                            </a>
                            </li>
                            <li>
                                <a target="_blank" title="Email" href="mailto:frenchclasses@email.com">
                                    <i class="fa fa-envelope fa-2x" style="color: white"></i><span>Email</span>
                                </a>
                            </li>

                        </ul> -->
                        <!--End of Social Icons in Header-->

                    <!-- </aside> -->


                    <!--Main Navigation-->
                    <nav id="nav-main">
                        <ul>
                            <li>
                                <a href="#banner">Home</a>
                            </li>
                            <li>
                                <a href="#about">About</a>
                            </li>
                            <!-- <li>
                                <a href="#gallery">Gallery</a>
                            </li> -->
                            <!-- <li>
                                <a href="#clients">Clients</a>
                            </li> -->
                               <li>
                                <a href="#pricing">Classes</a>
                            </li>
                              <li>
                                <a href="#testimonials">Testimonials</a>
                            </li>
                         
                            <li>
                                <a href="#questions">FAQs</a>
                            </li>
                            <li>
                                <a href="#contact">Contact</a>
                            </li>
                            <!--  <li>
                                <a href="#services">Services</a>
                            </li> -->
                        </ul>
                    </nav>
                    <!--End of Main Navigation-->
                     <!-- Header CTA -->
                
                    <div id="nav-trigger"><span></span></div>
                    <nav id="nav-mobile"></nav>
                    

                </div>
            </div>
        </div><!--End of Header-->