<section id="testimonials" class="scrollto text-center clearfix">
    <div class="row clearfix">
        <div class="section-heading">
            <h3>TESTIMONIALS</h3>
            <h2 class="section-title">What Parents Say</h2>
            <p class="section-subtitle">
                Parents appreciate the confidence, progress, and love for French that students build through these
                classes.
            </p>
        </div>

        <div class="testimonial-slider">
            <button class="slider-btn prev">&#10094;</button>

            <div class="testimonial-viewport">
                <div class="testimonial-container testimonial-track">

                    <div class="testimonial classic testimonial-card wow fadeInUp" data-wow-delay="0.1s">
                        <img src="../assets/images/user-images/user-1.jpg" alt="User" />
                        <p class="testimonial-text">
                            “My daughter used to feel nervous about speaking French, but after joining these classes,
                            she has
                            become much more confident and actually enjoys learning the language.”
                        </p>
                        <h4 class="testimonial-name">– John Doe - Happy Customer</h4>
                    </div>

                    <div class="testimonial classic testimonial-card wow fadeInUp" data-wow-delay="0.3s">
                        <img src="../assets/images/user-images/user-2.jpg" alt="User" />
                        <p class="testimonial-text">
                            “The lessons are interactive, engaging, and very well-structured. We noticed improvement not
                            only in
                            vocabulary and pronunciation, but also in our child’s overall interest in French.”
                        </p>
                        <h4 class="testimonial-name">– Parent from Dubai</h4>
                    </div>

                    <div class="testimonial classic testimonial-card wow fadeInUp" data-wow-delay="0.5s">
                        <img src="../assets/images/user-images/user-3.jpg" alt="User" />
                        <p class="testimonial-text">
                            “The exam preparation support was excellent. My son felt prepared, motivated, and scored
                            very well
                            in his school French assessments.”
                        </p>
                        <h4 class="testimonial-name">– Parent of Middle School Student</h4>
                    </div>

                    
                    <!-- Add more testimonial-card divs here later -->

                </div>
            </div>

            <button class="slider-btn next">&#10095;</button>
        </div>
    </div>
</section>